<div class="card card-primary card-outline">
  <div class="card-body box-profile">
    <div class="text-center">
      <img
        class="profile-user-img img-fluid img-circle"
        src="./assets/img/93187.jpg"
        alt="User profile picture"
      />
    </div>

    <h3 class="profile-username text-center">Foysal Ahamed Sifat</h3>

    <p class="text-muted text-center">Software Engineer (Full-Stack)</p>

    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item">
        <b>Work Experience</b> <a class="float-right">5+ years</a>
      </li>
      <li class="list-group-item">
        <b>Email</b> <a class="float-right">foysalahamedsifat&#64;gmail.com</a>
      </li>
       <li class="list-group-item">
        <b>Location</b> <a class="float-right">Toronto, Ontario, Canada</a>
      </li>
    </ul>

    <a target="_blank" href="https://www.linkedin.com/in/foysal-ahamed-sifat-498483169/" class="btn btn-primary btn-block"><b>Follow</b></a>
  </div>
  <!-- /.card-body -->
</div>
