<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <!-- Logo or Avatar -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        <img
          class="logo-foysal"
          height="44"
          src="./assets/img/foysal2.png"
          alt="Logo"
        />
      </a>
    </li>

    <!-- Main Navigation Links -->
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/" class="nav-link" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/articles" class="nav-link" routerLinkActive="active"
        >Articles</a
      >
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/projects" class="nav-link" routerLinkActive="active"
        >Projects</a
      >
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/demos" class="nav-link" routerLinkActive="active"
        >Live Demos</a
      >
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/contact" class="nav-link" routerLinkActive="active"
        >Contact</a
      >
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- GitHub -->
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://github.com/foysalahamedsifat"
        target="_blank"
        title="GitHub"
      >
        <i class="fab fa-github"></i>
      </a>
    </li>

    <!-- LinkedIn -->
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://www.linkedin.com/in/foysal-ahamed-sifat-498483169"
        target="_blank"
        title="LinkedIn"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </li>

    <!-- HackerRank -->
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://www.hackerrank.com/foysalahamedsif1"
        target="_blank"
        title="HackerRank"
      >
        <i class="fab fa-hackerrank"></i>
      </a>
    </li>

    <!-- Fullscreen -->
    <li class="nav-item">
      <a
        class="nav-link"
        data-widget="fullscreen"
        href="#"
        role="button"
        title="Fullscreen"
      >
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
  </ul>
</nav>
