<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h3><i class="fas fa-clock text-primary"></i> Launching In</h3>
      <div class="row mt-4">
        <div class="col-3">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ countdown.days }}</h3>
              <p>Days</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ countdown.hours }}</h3>
              <p>Hours</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ countdown.minutes }}</h3>
              <p>Minutes</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ countdown.seconds }}</h3>
              <p>Seconds</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
